grant codebase "file:./SampleLM.jar" {
    permission javax.security.auth.AuthPermission "modifyPrincipals";
};
grant codebase "file:./SampleAuthn.jar" {
    permission javax.security.auth.AuthPermission "createLoginContext.Sample";
};